@model IEnumerable<ExamManagement.Models.StudentExamApplication>
@{
    ViewBag.Title = "Appliedexam";
    Layout = "~/Views/Shared/StudentSidebar.cshtml";
}

<style>
    /* Table styling (same as before) */
    .custom-table {
        width: 100%;
        border-collapse: collapse;
        font-family: Arial, sans-serif;
    }

        .custom-table th {
            background-color: purple;
            color: white;
            padding: 10px;
            text-align: left;
        }

        .custom-table td {
            padding: 10px;
            border: 1px solid #ddd;
        }

        .custom-table tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .custom-table tr:hover {
            background-color: #ddd;
        }
</style>
<br />
<br />
<br />
@using (Html.BeginForm("Index", "Applied", FormMethod.Get))
{
    <input type="text" name="studentid" class="search-input" placeholder="Enter Student ID" />
    <button type="submit" class="search-button">
        <i class="fa fa-search search-icon"></i>
    </button>
}
<table class="custom-table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Examid)</th>
        <th>@Html.DisplayNameFor(model => model.studentid)</th>
        <th>@Html.DisplayNameFor(model => model.coursename)</th>
        <th>@Html.DisplayNameFor(model => model.applieddate)</th>
        <th>Action</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Examid)</td>
            <td>@Html.DisplayFor(modelItem => item.studentid)</td>
            <td>@Html.DisplayFor(modelItem => item.coursename)</td>
            <td>@Html.DisplayFor(modelItem => item.applieddate)</td>
            <td>
                <!-- Attend button, passing ExamID to AttendExam action -->
                <form action="@Url.Action("AttendExam", "Applycourse")" method="post">
                    <input type="hidden" name="ExamID" value="@item.Examid" />
                    <button type="submit">Attend</button>
                </form>
            </td>
        </tr>
    }
</table>